<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Bands</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
    </div>
    <div class="container">
        <div class="row">
            <!-- Liste der aller Bands -->
            <div class="col-sm-6">
                <h2>Bands</h2>
                <ul class="list-group">
                    <div th:each="band : ${bands}">
                        <!-- angemeldete User können alle bands sehen -->
                        <a sec:authorize="authenticated" th:href="${'/bands/' + band.id}"
                           class="list-group-item list-group-item-action" th:text="${band.name}"></a>
                        <!-- Nicht angemeldete User können nur Bands sehen, die gebucht sind -->
                        <a sec:authorize="anonymous" th:if="${band.playsAt.size() > 0}" th:href="${'/bands/' + band.id}"
                           class="list-group-item list-group-item-action" th:text="${band.name}"></a>
                    </div>
                </ul>
            </div>
            <div class="col-sm-1"></div>
            <!-- Formular zur Bandanlage, nur für Admins -->
            <div class="col-sm-4" style="background-color:#d3d3d3; border-radius: 15px 50px 30px;">
                <form sec:authorize="hasRole('ADMIN')" th:object="${bandForm}" id="createForm" action="/bands"
                      method="post">
                    <div class="col-sm-12"><h3>Neue Band anlegen</h3></div>
                    <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}">
                        <label>Name</label>
                        <input th:field="*{name}" name="name" type="text" placeholder="Name" class="form-control">
                        <span class="text-danger" th:errors="*{name}"/>
                    </div>
                    <div class="form-group col-sm-12">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Band erstellen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>