<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Sorry...</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
    </div>
    <div class="container">
        <div class="row">
            <h1>Sie sind zur Durchführung dieser Operation nicht berechtigt.</h1>
            <p><strong>Bitte gehen Sie <a href="/">zurück</a> auf die Startseite.</strong></p>
        </div>
    </div>
</div>
</body>
</html>
