<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Festival-Guide - Startseite</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">

    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Willkommen beim Festival-Guide</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula faucibus lorem, eu efficitur
                nulla ultricies eu. Donec arcu urna, blandit a ipsum vitae, tempus venenatis sapien. Suspendisse eget
                velit et eros cursus aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit
                amet nibh purus. In dapibus ullamcorper neque in aliquet. Suspendisse porttitor sollicitudin mi vel
                rhoncus. Integer in odio elementum, faucibus felis sed, convallis elit. Proin vitae leo consequat quam
                congue fringilla sit amet sed odio.

                Vestibulum ut molestie eros, sed dignissim massa. Donec nibh augue, ultrices blandit justo et, iaculis
                viverra ante. Donec vitae orci diam. In non turpis vel velit placerat fringilla. Sed luctus tempor neque
                ac semper. Vestibulum hendrerit velit quis dui ultrices scelerisque. Integer justo nisi, blandit nec
                molestie ac, congue vitae turpis. Aenean in nibh non massa condimentum vehicula. Phasellus eleifend
                egestas arcu ut ultrices. Vestibulum ut posuere eros, eu convallis tortor.

            </div>
        </div>
    </div>
</div>
</body>
</html>