<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Festival-Guide - Startseite</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">

    </div>

    <div class="container">
        <div class="row">
            <div class="clearfix">
                <div class="col-sm-6 float-right">
                    <h2>Willkommen beim Festival-Guide</h2>
                    <p>Dieser Festival-Guide ermöglicht es euch, einen Überblick über stattfindende Festivals zu bekommen, die auftretenden Bands zu sehen und das beste/passendste Festival zu finden.
                        Solltet ihr euch unangemeldet hier befinden, könnt ihr euch:</p>
                    <li>eine Liste aller Festivals anzeigen lassen
                    <li>pro Festival die Details sowie die Liste der dort auftretenden Bands anzeigen lassen</li>
                    <li>eine Liste aller Bands anzeigen lassen, die auf  zukünftigen Festivals auftreten </li>
                    <li>pro Band die Details sowie die Liste der gebuchten Festivals anzeigen lassen</li>
                    <br><p>Außerdem könnt ihr:</p>
                    <li>Festivals nach Stilrichtung suchen/filtern</li>
                    <li>Festivals nach Monat und Jahr suchen/filtern</li>
                    <br><p>Wenn ihr euch bei uns registriert, könnt ihr außerdem:</p>
                    <li>Bands als Favoriten zu markieren</li>
                    <li>Festivals als Favoriten markieren</li>
                    <li>eure Favoritenlisten aufrufen</li>
                    damit ihr schnell auf eure Lieblingsbands und -festivals zugreifen könnt, um zu sehen, was es Neues gibt <br>
                    <br><p>Viel Spaß!</p>


                </div>
                <div class="col-sm-6">
                    <img src="/img/guitar.png" class="float-left">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>