<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<div layout:fragment="content">
    <div class="page-header">
        <h1>Registration</h1>
    </div>
    <div class="col-sm-6">
        <form th:object="${userForm}" id="createForm" action="/registration" method="post">
            <div class="form-group">
                <h2>Neuen Account anlegen</h2>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}">
                <label>Name</label>
                <input name="name" type="text" placeholder="Name" class="form-control">
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password') ? 'has-error' : ''}">
                <label>Passwort</label>
                <input name="password" type="password" placeholder="Passwort" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Account Anlegen</button>
            </div>
            <div class="form-group">
                <span class="text-danger" th:errors="*{name}"/>
                <p>
                    <span class="text-danger" th:errors="*{password}"/>
                <p>
            </div>
        </form>
        <h2>User</h2>
        <ul class="list-group">
            <li th:each="user : ${users}">
                <b th:text="${user.name}"></b>
            </li>
        </ul>
    </div>
</div>


</body>
</html>