<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Festivals</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
    </div>
    <div class="container">
        <div class="row">

            <!-- Liste aller Festivals -->
            <div class="col-sm-6">
                <h2>Festivals</h2>
                <ul class="list-group">
                    <div th:each="festival : ${festivals}">
                        <a th:href="${'/festivals/' + festival.id}" class="list-group-item list-group-item-action"
                           th:text="${festival.name}"></a>
                    </div>
                </ul>
            </div>

            <!-- Formular zur Festivalanlage, nur für Admins -->
            <div class="col-sm-6">
                <form sec:authorize="hasRole('ADMIN')" th:object="${festivalForm}" id="createForm" action="/festivals"
                      method="post">
                    <div class="form-group">
                        <h2>Neues Festival anlegen</h2>
                    </div>
                    <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}">
                        <label>Name</label>
                        <input name="name" type="text" placeholder="Name" class="form-control">
                        <span class="text-danger" th:errors="*{name}"/>
                    </div>
                    <div class="form-group col-sm-12"
                         th:classappend="${#fields.hasErrors('location') ? 'has-error' : ''}">
                        <label>Location</label>
                        <input name="location" type="text" placeholder="Location" class="form-control">
                        <span class="text-danger" th:errors="*{location}"/>
                    </div>
                    <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('genre') ? 'has-error' : ''}">
                        <label>Stilrichtung</label>
                        <input name="genre" type="text" placeholder="Stilrichtung" class="form-control">
                        <span class="text-danger" th:errors="*{genre}"/>
                    </div>
                    <div class="col-sm-12"><label>Start-Datum</label></div>
                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('day') ? 'has-error' : ''}">
                        <input name="day" type="number" placeholder="Tag" min="1" step="1" max="31"
                               class="form-control">
                        <span class="text-danger" th:errors="*{day}"/>
                    </div>
                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('month') ? 'has-error' : ''}">
                        <input name="month" placeholder="Monat" type="number" min="1" step="1" max="12"
                               class="form-control">
                        <span class="text-danger" th:errors="*{month}"/>
                    </div>
                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('year') ? 'has-error' : ''}">
                        <input name="year" placeholder="Jahr" type="number" min="2018" step="1" class="form-control">
                        <span class="text-danger" th:errors="*{year}"/>
                    </div>
                    <div class="col-sm-12"><label>Ende-Datum</label></div>
                    <div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('endDay') ? 'has-error' : ''}">
                        <input name="endDay" type="number" placeholder="Tag" min="1" step="1" max="31"
                               class="form-control">
                        <span class="text-danger" th:errors="*{endDay}"/>
                    </div>
                    <div class="form-group col-sm-4"
                         th:classappend="${#fields.hasErrors('endMonth') ? 'has-error' : ''}">
                        <input name="endMonth" placeholder="Monat" type="number" min="1" step="1" max="12"
                               class="form-control">
                        <span class="text-danger" th:errors="*{endMonth}"/>
                    </div>
                    <div class="form-group col-sm-4"
                         th:classappend="${#fields.hasErrors('endYear') ? 'has-error' : ''}">
                        <input name="endYear" placeholder="Jahr" type="number" min="2018" step="1" class="form-control">
                        <span class="text-danger" th:errors="*{endYear}"/>
                    </div>
                    <div class="form-group col-sm-3">
                        <button type="submit" class="btn btn-primary">Festival Anlegen</button>
                    </div>
                </form>
            </div>
            
            <!-- Formular zum Filtern -->
            <div class="col-sm-6">
                <form sec:authorize="authenticated" th:object="${dateFilterForm}" id="searchForm" action="/filter"
                      method="post">
                    <h2>Festivals nach Datum filtern</h2>
                    <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('month') ? 'has-error' : ''}">
                        <label>Monat</label>
                        <input th:field="*{month}" name="month" type="number" placeholder="Monat" required="required" min="1" step="1" max="12" class="form-control">
                        <span class="text-danger" th:errors="*{month}"/>
                    </div>
                    <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('year') ? 'has-error' : ''}">
                        <label>Jahr</label>
                        <input th:field="*{year}" name="year" type="number" placeholder="Jahr" required="required" min="1959" step="1" max="2099" class="form-control">
                        <span class="text-danger" th:errors="*{year}"/>
                    </div>
                    <div class="form-group col-sm-3">
                        <button type="submit" class="btn btn-primary">Filtern</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>
