<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="page-header">
    </div>

    <div class="container">
        <div class="row">
                <h1 th:text="${festival.name}"></h1>
        </div>
            <div class="row">
                <form th:action="${'/festivals/' + festival.id + '/delete'}" method="post" class="form">
                    <button type="submit" class="btn btn-danger">Löschen</button>
                </form>
            </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>Lineup:</h2>
                <table th:if="${!festival.plays.empty}" class="table">
                    <tr>
                        <th>Name der Bands</th>
                    </tr>

                    <tr th:each="band : ${plays}">
                        <td th:text="${band.name}"></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6">
                <div class="jumbotron">
                    <h2 class="display-1">Infos:</h2>
                        <dl class="row">
                            <dt class="col-sm-3">Tag:</dt>
                            <dd class="col-sm-9" th:text="${festival.day}">asdfasdf</dd>
                            <dt class="col-sm-3">Monat:</dt>
                            <dd class="col-sm-9" th:text="${festival.month}"></dd>
                            <dt class="col-sm-3">Jahr:</dt>
                            <dd class="col-sm-9" th:text="${festival.year}"></dd>
                            <dt class="col-sm-3">Location:</dt>
                            <dd class="col-sm-9" th:text="${festival.location}"></dd>
                        </dl>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>Band hinzufügen</h2>
                <ul class="list-group">
                    <li th:each="band : ${playsNot}">
                        <a th:href="${'/festivals/add/' + band.id + '/' + festival.id}" class="list-group-item list-group-item-action" th:text="${band.name}"></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h2>Neue Band erstellen und hinzufügen</h2>
                <form sec:authorize="authenticated" th:object="${bandForm2}" id="createForm" th:action="${'/festivals/' + festival.id}" method="post">
                    <div class="form-group" th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}">
                        <label>Name</label>
                        <input th:field="*{name}" name="name" type="text" placeholder="Enter Name here" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Band Anlegen</button>
                    </div>
                    <div class="form-group">
                        <span class="text-danger" th:errors="*{name}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



</body>
</html>